<a href="https://colab.research.google.com/github/MahiSharma000/Machine_Learning/blob/main/NAIVE%20Bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

01-02-2024

23MCA1058
MAHI SHARMA
Machine Learning Lab(PMCA507P)

**Exercise 4 _ Naive bayes Classifer**

importing packages

In [ ]:
import numpy as np
import pandas as pd
import matplotlib as plt

reading dataset

In [ ]:
df=pd.read_excel('Book1.xlsx')
print(df)

        age  income student credit_rating buyz_computer
0      <=30    high      no          fair            no
1      <=30    high      no     excellent            no
2   31...40    high      no          fair           yes
3       >40  medium      no          fair           yes
4       >40     low     yes          fair           yes
5       >40     low     yes     excellent            no
6   31...40     low     yes     excellent           yes
7      <=30  medium      no          fair            no
8      <=30     low     yes          fair           yes
9       >40  medium     yes          fair           yes
10     <=30  medium     yes     excellent           yes
11  31...40  medium      no     excellent           yes
12  31...40    high     yes          fair           yes
13      >40  medium      no     excellent            no

preprocessed the data by encoding categorical variables using LabelEncoder. using  the preprocessed data x to train a machine learning model

In [ ]:
y=df['buyz_computer']
x=df.drop('buyz_computer',axis=1)
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
x.age=le.fit_transform(df['age'])
x.income=le.fit_transform(df['income'])
x.student=le.fit_transform(df['student'])
x.credit_rating=le.fit_transform(df['credit_rating'])
x

    age  income  student  credit_rating
0     1       0        0              1
1     1       0        0              0
2     0       0        0              1
3     2       2        0              1
4     2       1        1              1
5     2       1        1              0
6     0       1        1              0
7     1       2        0              1
8     1       1        1              1
9     2       2        1              1
10    1       2        1              0
11    0       2        0              0
12    0       0        1              1
13    2       2        0              0

predicting

In [ ]:
from sklearn.naive_bayes import GaussianNB
model= GaussianNB()
model.fit(x,y)
predicted=model.predict([[1,2,0,1]])
print("predicted Value",predicted)

predicted Value ['yes']

C:\Python39\lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

preprocessed the data by encoding categorical variables using HotEncoder. using the preprocessed data x to train a machine learning mode

In [ ]:
x=df.drop('buyz_computer',axis=1)
from sklearn.preprocessing import OneHotEncoder
le=OneHotEncoder()
y = pd.get_dummies(df, columns = ['age','income','student','credit_rating'])
print(y)

   buyz_computer  age_31...40  age_<=30  age_>40  income_high  income_low  \
0             no        False      True    False         True       False
1             no        False      True    False         True       False
2            yes         True     False    False         True       False
3            yes        False     False     True        False       False
4            yes        False     False     True        False        True
5             no        False     False     True        False        True
6            yes         True     False    False        False        True
7             no        False      True    False        False       False
8            yes        False      True    False        False        True
9            yes        False     False     True        False       False
10           yes        False      True    False        False       False
11           yes         True     False    False        False       False
12           yes         True     False    False         True       False
13            no        False     False     True        False       False

    income_medium  student_no  student_yes  credit_rating_excellent  \
0           False        True        False                    False
1           False        True        False                     True
2           False        True        False                    False
3            True        True        False                    False
4           False       False         True                    False
5           False       False         True                     True
6           False       False         True                     True
7            True        True        False                    False
8           False       False         True                    False
9            True       False         True                    False
10           True       False         True                     True
11           True        True        False                     True
12          False       False         True                    False
13           True        True        False                     True

    credit_rating_fair
0                 True
1                False
2                 True
3                 True
4                 True
5                False
6                False
7                 True
8                 True
9                 True
10               False
11               False
12                True
13               False

In [ ]:
x=df.drop('buyz_computer',axis=1)
from sklearn.preprocessing import OneHotEncoder
le=OneHotEncoder()
enc_data = pd.DataFrame(le.fit_transform(df[['age','income','student','credit_rating']]))
New_df = df.join(enc_data)
print(enc_data)
print(New_df)

                                                    0
0     (0, 1)\t1.0\n  (0, 3)\t1.0\n  (0, 6)\t1.0\n ...
1     (0, 1)\t1.0\n  (0, 3)\t1.0\n  (0, 6)\t1.0\n ...
2     (0, 0)\t1.0\n  (0, 3)\t1.0\n  (0, 6)\t1.0\n ...
3     (0, 2)\t1.0\n  (0, 5)\t1.0\n  (0, 6)\t1.0\n ...
4     (0, 2)\t1.0\n  (0, 4)\t1.0\n  (0, 7)\t1.0\n ...
5     (0, 2)\t1.0\n  (0, 4)\t1.0\n  (0, 7)\t1.0\n ...
6     (0, 0)\t1.0\n  (0, 4)\t1.0\n  (0, 7)\t1.0\n ...
7     (0, 1)\t1.0\n  (0, 5)\t1.0\n  (0, 6)\t1.0\n ...
8     (0, 1)\t1.0\n  (0, 4)\t1.0\n  (0, 7)\t1.0\n ...
9     (0, 2)\t1.0\n  (0, 5)\t1.0\n  (0, 7)\t1.0\n ...
10    (0, 1)\t1.0\n  (0, 5)\t1.0\n  (0, 7)\t1.0\n ...
11    (0, 0)\t1.0\n  (0, 5)\t1.0\n  (0, 6)\t1.0\n ...
12    (0, 0)\t1.0\n  (0, 3)\t1.0\n  (0, 7)\t1.0\n ...
13    (0, 2)\t1.0\n  (0, 5)\t1.0\n  (0, 6)\t1.0\n ...
        age  income student credit_rating buyz_computer  \
0      <=30    high      no          fair            no
1      <=30    high      no     excellent            no
2   31...40    high      no          fair           yes
3       >40  medium      no          fair           yes
4       >40     low     yes          fair           yes
5       >40     low     yes     excellent            no
6   31...40     low     yes     excellent           yes
7      <=30  medium      no          fair            no
8      <=30     low     yes          fair           yes
9       >40  medium     yes          fair           yes
10     <=30  medium     yes     excellent           yes
11  31...40  medium      no     excellent           yes
12  31...40    high     yes          fair           yes
13      >40  medium      no     excellent            no

                                                    0
0     (0, 1)\t1.0\n  (0, 3)\t1.0\n  (0, 6)\t1.0\n ...
1     (0, 1)\t1.0\n  (0, 3)\t1.0\n  (0, 6)\t1.0\n ...
2     (0, 0)\t1.0\n  (0, 3)\t1.0\n  (0, 6)\t1.0\n ...
3     (0, 2)\t1.0\n  (0, 5)\t1.0\n  (0, 6)\t1.0\n ...
4     (0, 2)\t1.0\n  (0, 4)\t1.0\n  (0, 7)\t1.0\n ...
5     (0, 2)\t1.0\n  (0, 4)\t1.0\n  (0, 7)\t1.0\n ...
6     (0, 0)\t1.0\n  (0, 4)\t1.0\n  (0, 7)\t1.0\n ...
7     (0, 1)\t1.0\n  (0, 5)\t1.0\n  (0, 6)\t1.0\n ...
8     (0, 1)\t1.0\n  (0, 4)\t1.0\n  (0, 7)\t1.0\n ...
9     (0, 2)\t1.0\n  (0, 5)\t1.0\n  (0, 7)\t1.0\n ...
10    (0, 1)\t1.0\n  (0, 5)\t1.0\n  (0, 7)\t1.0\n ...
11    (0, 0)\t1.0\n  (0, 5)\t1.0\n  (0, 6)\t1.0\n ...
12    (0, 0)\t1.0\n  (0, 3)\t1.0\n  (0, 7)\t1.0\n ...
13    (0, 2)\t1.0\n  (0, 5)\t1.0\n  (0, 6)\t1.0\n ...

Splitting the dataset

In [ ]:
X=df.drop(['buyz_computer'],axis=1)
y=df['buyz_computer']
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25,random_state = 0)
from sklearn.preprocessing import OneHotEncoder
cols = ['age','income','student','credit_rating']
encoder = OneHotEncoder()
X_train = encoder.fit_transform(X_train[cols])
X_test = encoder.transform(X_test[cols])

In [ ]:
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score, confusion_matrix
import pandas as pd

# Assuming you have X_train, X_test, y_train, and y_test defined somewhere

# Convert sparse data to dense array
X_train_dense = X_train.toarray()

# Create Gaussian Naive Bayes model
model_gnb = GaussianNB()

# Fit the model with dense data
model_gnb.fit(X_train_dense, y_train)

# Make predictions on the test set
X_test_dense = X_test.toarray()
y_pred = model_gnb.predict(X_test_dense)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {100 * accuracy:.2f}%')

conf_matrix = confusion_matrix(y_test, y_pred)
print('Confusion Matrix:')
print(conf_matrix)

Accuracy: 50.00%
Confusion Matrix:
[[0 0]
 [2 2]]

he accuracy of the Gaussian Naive Bayes model on the test set is 50.00%. This means that the model correctly predicted the target variable for half of the instances in the test set. The confusion matrix can provide additional insights into the model's performance:

The confusion matrix can be interpreted as follows:

True Negative (TN): 0
False Positive (FP): 0
False Negative (FN): 2
True Positive (TP): 2
In other words, the model correctly predicted 2 instances of the positive class (True Positives) but failed to predict 2 instances of the positive class (False Negatives). It correctly predicted all instances of the negative class (True Negatives) and did not make any false positive predictions.

The low accuracy and the presence of false negatives suggest that the model may not be performing well on the given dataset. Further analysis and possibly trying different models or adjusting parameters might be necessary to improve predictive performance.